footer {
    padding: 1rem;
    background-color: #333;
    color: white;
    margin-top: 20px;
    border-style: dotted;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

nav {
    background-color: gray;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s;
}

nav a:hover {
    color: wheat;
    text-decoration: underline;
}

nav a.active {
    font-weight: bold;
    color: wheat;
}

.close {
    color: #555;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: #333;
}

.modal-content {
    background-color: wheat;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    position: relative;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .menu-toggle {
        display: block;
        background: gray;
        color: white;
        border: none;
        padding: 10px;
        font-size: 1.2rem;
        cursor: pointer;
        width: 100%;
    }

    nav.active {
        display: flex;
    }
}